version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: shopify_analytics
      POSTGRES_DB: shopify_analytics_development
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://shopify_analytics:password@db:5432/shopify_analytics_development
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
      RAILS_SERVE_STATIC_FILES: "true"

  sidekiq:
    build: .
    command: bash -c "bundle exec sidekiq"
    volumes:
      - .:/rails
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://shopify_analytics:password@db:5432/shopify_analytics_development
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development

volumes:
  postgres_data:
  redis_data:
