<div class="animate-pulse space-y-4 w-full">
  <div class="h-4 bg-white/10 rounded w-3/4"></div>
  <div class="space-y-2">
    <div class="h-3 bg-white/10 rounded"></div>
    <div class="h-3 bg-white/10 rounded w-5/6"></div>
  </div>
</div>
